p, h1, h2, h3, h4 {
  color: white;
}

/*div {
  border: 1px solid green
}*/

.page-header {
  color: white;
  margin-top: 40px;
  margin-left: 70px;
  font-size: 40px;
  font-weight: bold;
}

.page-subHeader {
  color: rgb(128, 128, 128);
  margin-left: 90px;
  margin-top: 10px;
}

.line-break {
  margin: 50px 70px 50px 70px;
  background-color: #282828;
  height: 2px;
  border: none 
} 

.pop-up-container {
  background-color: black;
  border-radius: 10px;
  padding: 40px 40px;
  border: 2px solid #333333;
}

.pop-up-header {
  color: white;
  font-size: 25px;
  font-weight: 550
}

.pop-up-subheader {
  color: rgb(150, 150, 150);
  font-size: 16px;
}

.job-box-container {
  background-color: black;
  width: 1200px;
  height: 700px;
  border-radius: 8px;
  padding: 25px 30px;
  border: 2px solid #333333;
  min-width: 800px;
}

.finance-box-container {
  background-color: black;
  width: 1050px;
  height: 700px;
  border-radius: 8px;
  padding: 25px 30px;
  border: 2px solid #333333;
  min-width: 800px;
}

.academic-page-box-container {
  background-color: black;
  width: 650px;
  height: 617px;
  border-radius: 10px;
  padding: 25px 30px;
  border: 2px solid #333333;
}

.academic-page-box-header {
  color: white;
  font-size: 30px;
  font-weight: 550
}

.academic-page-box-subheader {
  color: rgb(150, 150, 150);
  font-size: 17px;
}

.home-page-box-container {
  background-color: black;
  width: 440px;
  height: 600px;
  border-radius: 10px;
  padding: 15px;
  border: 2px solid #333333;
}

.home-page-box-header {
  color: rgb(150, 150, 150);
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  transition: color 0.3s;
  font-weight: 500;
}

.home-page-box-header:hover {
  color: white;
}

.home-page-box-subheader {
  color: white;
  font-size: 20px;
  padding: 4px 20px;
}

.home-page-box-text {
  color: white;
  font-size: 30px;
  padding: 20px;
}

.text-center {
  text-align: center;
}

.progress-bar-border {
  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  padding: 3px;
}

.progress-bar {
  height: 16px;
  border-radius: 3px;
}

.black-background {
  background-color: black;
  min-height: 100vh;
}

.scroll-container {
  border: 2px solid #333333;
  border-radius: 10px;
  overflow: auto;
}

.scroll-container p {
  font-size: 19px;
}

.scroll-container::-webkit-scrollbar {
  width: 20px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 15px;
  border: 3px solid black;
}

.scroll-container:hover::-webkit-scrollbar-thumb {
  background-color: #202020;
}

.scroll-container-element-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #333333;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s;
}

.scroll-container-header p {
  color: #c5c5c5
}

.scroll-container-element-container:hover {
  background-color: #212121;
}

.scroll-container-element {
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 13px;
  padding: 5px;
  transition: background-color 0.3s;
  overflow: hidden;
}

.inputField {
  height: 45px;
  background-color: black;
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  font-size: 20px;
}

.inputField:focus {
  border-color: white;
}

.pop-up-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  z-index: -1;
}

.pop-up-content {
  position: relative;
  z-index: 2;
}

.main-header {
  font-size: 45px;
  font-weight: 600;
}

.small-link {
  font-size: 12px;
  color: #CACACA;
}

.small-link:hover {
  color: white;
  font-weight: 500;
}
